<html>
    <head>
        <link href="{{ STATIC_URL }}css/worker.css" media="screen" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.min.js"></script>
          <script>
                $(function() {
                    $( "input[type=submit], a, button" )
                    .button()
                    .click(function( event ) {
                        event.preventDefault();
                    });
                });
            </script>
    </head>
    <title>FedMex: You are logged in as  Worker</title>
    <body>
        <div class="menu-items">
            <a href="/ship/create-new-package"><div id="add-new-link" class="nav">Create New Package</div></a>
            <a href="/ship/create-new-recipient"><div id="cancel" class="nav" >Add New Recipient</div></a>
            <a href="/ship/logout"><div id="logout" class="nav">Log Out</div></a>
        </div>
          <script type="text/javascript">
                var divs = new Array();
                var div_no = ['#add-new-link', '#cancel','#logout'];
                divs['#add-new-link'] = {'colour_1':'#8CC63F','colour_2':'#0A803B' , 'text_colour':'white'};
                divs['#cancel'] = {'colour_1':'#BF1E2D','colour_2':'#CCD1CD', 'text_colour':'white'};
                divs['#logout'] = {'colour_1':'#F7941E','colour_2':'#CCD1CD', 'text_colour':'white'};
                var colorize = function(div, color_1, color_2, text_color){
                    var _in = function(){$(div).css({'background-color': color_1,'color':text_color, 'border':'1px solid #CCD1CD'});};
                    var _out = function(){$(div).css({'background-color': color_2, 'color': text_color, 'border':'1px solid white'});};
                    $(div).hover(_in, _out);       
                };
                colorize(div_no[0], divs[div_no[0]].colour_1, divs[div_no[0]].colour_2, divs[div_no[0]].text_colour);
                colorize(div_no[1], divs[div_no[1]].colour_1, divs[div_no[1]].colour_2, divs[div_no[1]].text_colour);
                colorize(div_no[2], divs[div_no[2]].colour_1, divs[div_no[2]].colour_2, divs[div_no[2]].text_colour);   
        </script>
        <div id="container">
            <div id="header">
                <h1>FedMex: Worker View</h1>
            </div> <!--END HEADER-->
            <div class="search-box">
                <form>  
                    <input id="search-bar" type="text" value="Enter Tracking number, Recipient Name, or Package Contents" name="search-bar" size="68" onfocus="javascript: if(this.value){this.value = ''; }" onblur="javascript: if(this.value==''){this.value='Enter Tracking number, Recipient Name, or Package Contents';}">
                    <input type="submit" value="Find it!" style="font-size: 20px;">
                </form>
            </div>
            <!-- 
            <table class="results">
                   <tr id="result-headers">
                    <td class="h-cell">Tracking#</td>
                    <td class="h-cell">Recipient</td>
                    <td class="h-cell">Contents</td>
                    <td class="h-cell">Destination</td>
                    <td class="h-cell">Special Instructions</td>
                </tr> 
                {% if packages %}
                {% for package in packages %}
                <tr class="result-row">        
                    <td class="cell" id="result-tracking-number">{{ package.package_tracking_number }}</td>
                    <td class="cell" id="result-recipient">{{ package.package_recipient }}</td>
                    <td class="cell" id="result-package-contents">{{ package.package_contents}}</td>
                    <td class="cell" id="result-desitnation">{{ package.destination}}</td>
                    <td class="cell" id="result-special-instructions">{{ package.special_insrtuctions}}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table> <!--END RESULTS-->
            <!-- -->
            
        </div><!--END CONTAINER-->
        
        <div class="footer">
            {% now "Y" %} FedMex S.A. de C.V.
        </div>
    </body>
</html>

